<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Index</title>
</head>
<body>
<script src="~/js/site.js"></script>
<a>Choose dictionary</a>
    <ul>
        <li><a onclick="setDictionaryType(baseURI, 'mw'); location.href = './load';">Merriam Webster Dictionary</a></li>
        <li><a onclick="setDictionaryType(baseURI, 'wa'); location.href = './load';">Word Api Dictionary</a></li>
        <li><a onclick="setDictionaryType(baseURI, 'test'); location.href = './test';">Test Dictionary</a></li>
    </ul>
</body>
</html>