<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>LoadView</title>
</head>
<body>
<script src="~/js/site.js"></script>
<input type="file" onchange="loadFile(this)" accept="text/plain">
<button onclick="location.href = './words'">To words page</button>
</body>
</html>