@using VocabulatorLibrary.Data
@model IEnumerable<VocabulatorLibrary.Data.IDto>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>WordView</title>
</head>
<body>
<script src="~/js/site.js"></script>
<table>
    @foreach (var dto in Model)
    {
        @if (dto is WordDto word)
         {
             <tr>
                 <td>
                     <p>@word.Word</p>
                 </td>
                 <td>
                     <p>@word.Pronunciation</p>
                 </td>
                 <td>
                     <select>
                         @foreach (var def in word.Results)
                         {
                             <option>
                                 @def.Definition
                             </option>
                         }
                     </select>
                 </td>
             </tr>
         }
        @if (dto is ErrorDto error)
         {
             <tr>error.Message</tr>
         }
    }
</table>

</body>
</html>